<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{ result.name }}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeThisDialog()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
        <label class="item item-input">
          <span class="input-label">{{ result.name }}</span>
        </label>
        <label class="item item-input" ng-repeat="v in result.address">{{ v}}
        </label>
      </div>
  </ion-content>
</ion-modal-view>
